backoff
chapterize
datasets~=2.18.0
requests~=2.31.0
loguru~=0.7.2
tqdm~=4.66.2
accelerate~=0.27.2
faiss-gpu
transformers~=4.38.2

torch~=2.2.1
numpy~=1.26.4
pandas~=2.2.1
packaging~=23.2
thefuzz~=0.22.1